@model AppointmentModel

@{
    ViewBag.Title = "Delete Appointment";
}

<h2>@ViewBag.Title</h2>
<h3>Are you sure you want to delete this appointment?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <a asp-action="Lista">Wróć do listy</a>
        </div>
    }
</div>